//Variables
// 1) Colors
$txt-main-color: #9ca9b3;
$txt-head-color: #eceded;
$appEntity-color: #5658dd;
$bgMain-color: #151719;
$dark-color: #25282c;

// 2) Fonts
$mainHead-font-size: 50px;
$subHead-font-size: 40px;
$txt-font-size: 20px;
