@use "../variables" as *;
.section-head {
  width: 70%;
  h1,
  h2 {
    color: $txt-head-color;
    font-size: $mainHead-font-size;
    font-weight: 900;
    margin-bottom: 15px;
  }
  span {
    color: $appEntity-color;
  }
  h2 {
    font-size: $subHead-font-size;
    font-weight: 800;
  }
  p {
    color: $txt-main-color;
    font-size: $txt-font-size;
    margin-bottom: 30px;
    max-width: 700px;
  }
}
